<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Celia BMGT 407</title>
    <h1> </h1>
</head>
<body>
    <!-- The main header is to explain my favorite things and courses-->
    <h1> Favorite Things</h1>
        <h2> Favorite Foods </h2>
             <p> I enjoy trying <em>different foods and resturants</em>. I have tried a lot of cuisines and make
                an effort to try new places. Below I have a list of my <strong>favorite foods</strong>:</p>
                <ul>
                    <li>Buldak Ramen</li>
                    <li>Bahn Mi Oi</li>
                    <li>Pho</li>
                </ul>
        <h2> Favorite Courses </h2>
            <p> As a senior at UMD, I have had the chance to take many courses. Some courses have <em>challenged me</em>
                 and in other courses I have <em>enjoyed the professors</em>. Below I have listed my <strong>favorite courses
                </strong> and a table of my previous courses:</p>
                <ol>
                    <li>BMGT 403</li>
                    <li>BMGT 302</li>
                    <li>BMGT 484</li>
                </ol>
                <!-- The table is to display my courses and the semesters I have taken them -->
                <table>
                    <tr>
                        <th> Courses </th>
                        <th> Semester </th>
                    </tr>
                    <tr>
                        <td> BMGT 403 </td>
                        <td> Spring 2026 </td>
                    </tr>
                    <tr>
                        <td> BMGT 302</td>
                        <td> Fall 2025</td>
                    </tr>
                    <tr>
                        <td> BMGT 484</td>
                        <td> Spring 2026</td>
                    </tr>
                </table>

    <!-- These are links to my /hello route and to my favorite websites -->
    <p>A link to the <a href=" https://cpham121.pythonanywhere.com/hello">/hello route</a>.</p>
    <p>A link to my favorite website <a href="https://www.aritzia.com/us/en/sale" target="_blank"> Aritiza</a>.</p>
    <p> link to my favorite website <a href="https://www.youtube.com/" target="_blank"> YouTube</a>.</p>

    <img src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height="72" alt="Smith Logo">

</body>
</html>